$primary-color: #EDEDED;
$icon-color: #C8102D;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    // @include respond(tab-land) { 
    //     font-size: 56.25%; 
    // }

    // @include respond(tab-port) {
    //     font-size: 50%; 
    // }

}

.progress-bar {
    width: 100%;
    margin: 7% auto;
    height: 10vh;
    padding: 0;

    .btn {
        position: absolute;
        font-size: 1.5em;
        color: #da0024;
        cursor: pointer;
    }
    .btn-left {
        left: 25%;
    }
    .btn-right {
        left: 75%;
    }

    #icon {
        color: $icon-color;
        font-size: 2em;
        position: absolute;
        top: 5.7em;
        left: 29.7%;
    }

    .bar {
        background: #EDEDED;
        width: 40%;
        height: .3vh;
        margin: 0 auto;
        box-shadow: 0 4px 2px -2px black;
        margin-top: 14.4em;
    }

    .circle {
        height: 1em;
        background: #ededed;
        position: absolute;
        border-radius: 100%;
        z-index: 2;
        width: 1em;
        top: 14em;
        cursor: pointer;

        // .label {
        //     margin-top: 3%;
        //     font-size: 1em;
        // }
    }

    .label {
        position: absolute;
        top: 13em;
        left: 29.7%;
        font-size: 1.2em;
        font-family: 'Poiret One';
        letter-spacing: 1px;
        cursor: pointer;
    }
        .ship {
            left: 42.3%;
        }

        .pay {
            left: 55.7%;
        }

        .sum {
            left: 68.8%;
        }

    .cart {
        left: 30%;
        background: #C8102D;
    }

    .shipping {
        left: 43.33333333%;
    }

    .payment {
        left: 56.66666666%;
    }

    .summary {
        left: 70%;
    }

    .filled {

    }
}